<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Car Dealership</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
		@using Dealership.Models;
    <a href="/home"> <-- Go back to home page</a>
		<h1>Available vehicles:</h1>
		<!-- <a href='/cars/new'> Sell your!</a>
		<a href='/cars'> See list of cars we got!</a> -->
		
		@if (Model.Count == 0)
		{
			<p> No cars currently available. </p>
		} else {
			<ul>
			@foreach(Car car in Model)
			{
				<a href="/cars/properties"><li> @car.MakeModel </li></a>
			}
		</ul>
		}
	
		<p>	<a href='/cars/new'>Click here </a>to sell your vehicle</p>

  </body>
</html>