<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Car Dealership</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <form action="/cars" method="post">
      <p>Add a new car for sale</p>
      <label for="newMakeModel">Model</label>
      <input id="newMakeModel" name="newMakeModel" type="text"><br>

      <label for="newPrice">Price</label>
      <input id="newPrice" name="newPrice" type="number"><br>

      <label for="newMiles">Miles</label>
      <input id="newMiles" name="newMiles" type="number"><br>

      <label for="newTopSpeed">Top speed</label>
      <input id="newTopSpeed" name="newTopSpeed" type="number"><br>

      <label for="newYear">Year</label>
      <input id="newYear" name="newYear" type="number" maxlength="4" minlength="4"><br>
      
      <button type="submit" class="btn btn-light">Submit</button>
    </form>
  </body>
</html>
